"*":
  "atom-clock":
    dateFormat: "MMMM Do, dddd, h:mm a\t"
  core:
    audioBeep: false
    disabledPackages: [
      "markdown-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "monaco"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "4900a116-4f89-cf2f-f613-27294d516994"
  "file-icons": {}
  linter:
    lintOnChange: false
  "linter-eslint": {}
  "linter-jshint": {}
  "linter-ui-default":
    panelHeight: 81
  minimap:
    plugins:
      "color-highlight": true
      "git-diff": true
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    prettierOptions:
      bracketSpacing: false
      singleQuote: true
      trailingComma: "es5"
    useEditorConfig: false
    useEslint: true
  tabs:
    usePreviewTabs: true
  teletype: {}
  "tree-view": {}
  welcome:
    showOnStartup: false
