packages: [
  "atom-clock"
  "busy-signal"
  "dracula-syntax"
  "dracula-ui"
  "emmet"
  "file-icons"
  "git-history"
  "highlight-selected"
  "intentions"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "markdown-preview-plus"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "pigments"
  "prettier-atom"
  "react"
  "teletype"
]
