packages: [
  "atom-beautify"
  "atom-jade"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-ternjs"
  "atom-typescript"
  "dracula-syntax"
  "dracula-ui"
  "editorconfig"
  "file-icons"
  "highlight-selected"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-htmlhint"
  "linter-jshint"
  "linter-stylelint"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "pigments"
  "react"
  "seti-ui"
  "spacegray-dark-syntax"
  "wordpress-api"
]
